<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-twitter-3.2.0.jar" contributionJavaDocs="mule-module-twitter-3.2.0-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-twitter-3.2.0.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/twitter" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/twitter/current/mule-twitter.xsd" contributionNamespacePrefix="twitter" contributionSources="mule-module-twitter-3.2.0-sources.jar" contributionType="cloud-connector" contributionVersion="3.2.0" minimumVersion="3.5" name="Twitter" path="editors.xml" version="3.2.0"/></extension></plugin>