<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-sqs-2.4.4.jar" contributionJavaDocs="mule-module-sqs-2.4.4-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-sqs-2.4.4.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/sqs" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/sqs/1.0/mule-sqs.xsd" contributionNamespacePrefix="sqs" contributionSources="mule-module-sqs-2.4.4-src.jar" contributionType="cloud-connector" contributionVersion="2.4.4" minimumVersion="3.4" name="Amazon SQS" path="editors.xml" version="1.0"/></extension></plugin>