<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mule.tooling.core.contribution">
      <externalContribution
            contributionJar="mule-module-apikit-1.5.2.jar"
            contributionLibPathInMule="/plugins"
            contributionLibs="mule-module-apikit-plugin-1.5.2.zip"
            contributionNamespace="http://www.mulesoft.org/schema/mule/apikit"
            contributionNamespaceFile="http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd"
            contributionNamespacePrefix="apikit"
            contributionType="cloud-connector"
            icon="icons/small/flow-24x16.png"
            minimumVersion="3.4.0"
            name="APIkit"
            path="apikit.xml"
            version="1.5.2">
      </externalContribution>
   </extension>
   
   <extension
         point="org.mule.tooling.apikit.common.scaffolder">
      <scaffolderHandler
            handler="org.mule.tooling.apikit.handlers.ScaffolderHandler"
            id="org.mule.tooling.apikit.scaffolderHandler"
            maximumMuleVersion="3.6.0"
            minimumMuleVersion="3.4.0">
      </scaffolderHandler>
   </extension>
</plugin>
