<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-facebook-2.2.1.jar" contributionJavaDocs="mule-module-facebook-2.2.1-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-facebook-2.2.1.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/facebook" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/facebook/2.0/mule-facebook.xsd" contributionNamespacePrefix="facebook" contributionSources="mule-module-facebook-2.2.1-src.jar" contributionType="cloud-connector" contributionVersion="2.2.1" minimumVersion="3.4" name="Facebook" path="editors.xml" version="2.0"/></extension></plugin>