<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-s3-2.8.2.jar" contributionJavaDocs="mule-module-s3-2.8.2-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-s3-2.8.2.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/s3" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd" contributionNamespacePrefix="s3" contributionSources="mule-module-s3-2.8.2-sources.jar" contributionType="cloud-connector" contributionVersion="2.8.2" minimumVersion="3.5" name="Amazon S3" path="editors.xml" version="2.8.2"/></extension></plugin>