<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-magento-2.2.0.jar" contributionJavaDocs="mule-module-magento-2.2.0-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-magento-2.2.0.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/magento" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/magento/current/mule-magento.xsd" contributionNamespacePrefix="magento" contributionSources="mule-module-magento-2.2.0-sources.jar" contributionType="cloud-connector" contributionVersion="2.2.0" minimumVersion="3.5" name="Magento" path="editors.xml" version="2.2.0"/></extension></plugin>