<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-mongo-3.6.1.jar" contributionJavaDocs="mule-module-mongo-3.6.1-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-mongo-3.6.1.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/mongo" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd" contributionNamespacePrefix="mongo" contributionSources="mule-module-mongo-3.6.1-sources.jar" contributionType="cloud-connector" contributionVersion="3.6.1" minimumVersion="3.5" name="Mongo DB" path="editors.xml" version="3.6.1"/></extension></plugin>