<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-s3-2.7.0.jar" contributionJavaDocs="mule-module-s3-2.7.0-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-s3-2.7.0.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/s3" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/s3/2.0/mule-s3.xsd" contributionNamespacePrefix="s3" contributionSources="mule-module-s3-2.7.0-src.jar" contributionType="cloud-connector" contributionVersion="2.7.0" minimumVersion="3.4" name="Amazon S3" path="editors.xml" version="2.0"/></extension></plugin>