<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-sfdc-5.3.8.jar" contributionJavaDocs="mule-module-sfdc-5.3.8-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-sfdc-5.3.8.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/sfdc" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/sfdc/5.0/mule-sfdc.xsd" contributionNamespacePrefix="sfdc" contributionSources="mule-module-sfdc-5.3.8-src.jar" contributionType="cloud-connector" contributionVersion="5.3.8" minimumVersion="3.4" name="Salesforce" path="editors.xml" version="5.0"/></extension></plugin>