<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.cloveretl.gui.component">
      <component
            file="components.xml"
            id="com.cloveretl.gui.commercial.component">
      </component>
   </extension>
   <extension
         point="com.cloveretl.gui.enginePlugin">
      <enginePlugin
            classLoaderProvider="com.cloveretl.gui.commercial.plugin.CLProvider"
            directory="lib/plugins"
            id="com.cloveretl.gui.commercial.enginePlugin">
         <exportedPlugin
               pluginId="org.jetel.component.commercial">
         </exportedPlugin>
         <exportedPlugin
               pluginId="org.jetel.lookup.commercial">
         </exportedPlugin>
         <exportedPlugin
               pluginId="org.jetel.compiler.commercial">
         </exportedPlugin>
         <exportedPlugin
               pluginId="org.jetel.ctlfunction.commercial">
         </exportedPlugin>
         <exportedPlugin
               pluginId="org.jetel.tlfunction.commercial">
         </exportedPlugin>
      </enginePlugin>
   </extension>
   <extension
         point="com.cloveretl.gui.editor">
      
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIEmailMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIEmailMappingPropertyToolkit"
            name="emailMapping">
      </editor>
      
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSFaultMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSFaultMappingEditor"
            name="wsFaultMapping"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSDLFilePropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSDLFileEditor"
            name="wsWSDLFile"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringTypeDescriptorProvider">
      </editor>      
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSOperationNamePropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSOperationNameEditor"
            name="wsOperationName">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSRequestStructurePropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSRequestStructureEditor"
            name="wsRequestStructure"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSRequestHeaderStructurePropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSRequestHeaderStructureEditor"
            name="wsRequestHeaderStructure"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider">
      </editor>      
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSResponseMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSResponseMappingEditor"
            name="wsResponseMapping"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="statefulTransform">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformMDPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformMDPropertyToolkit"
            name="statefulTransformMetadata">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformSPPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformSPPropertyToolkit"
            name="statefulTransformSelectorProperties">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UITransformPivotPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.TransformPivotEditor"
            name="transformPivot">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UISpreadsheetSheetNamePropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UISpreadsheetSheetNamePropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringTypeDescriptorProvider"
            name="spreadsheetSheetName">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UISpreadsheetMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UISpreadsheetMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="spreadsheetMapping">
      </editor>
      <editor
      		class="com.cloveretl.gui.commercial.propertytoolkit.UIJsonMappingPropertyToolkit"
      		id="com.cloveretl.gui.commercial.propertytoolkit.UIJsonMappingPropertyToolkit"
      		typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
      		name="jsonReaderMapping">
      </editor>
      <editor
      		class="com.cloveretl.gui.commercial.propertytoolkit.UIJavaBeanMappingPropertyToolkit"
      		id="com.cloveretl.gui.commercial.propertytoolkit.UIJavaBeanMappingPropertyToolkit"
      		typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
      		name="javaBeanReaderMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIObjectIntrospectorPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIObjectIntrospectorPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="objectIntrospector">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIBeanWriterMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIBeanWriterMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="beanWriterMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIJsonWriterMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIJsonWriterMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="jsonWriterMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIMapWriterMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIMapWriterMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="mapWriterMapping"
      />
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIExecuteGraphInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIExecuteGraphInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="executeGraphInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIExecuteGraphOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIExecuteGraphOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="executeGraphOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIExecuteScriptInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIExecuteScriptInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="executeScriptInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIExecuteScriptOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIExecuteScriptOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="executeScriptOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIMonitorGraphInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIMonitorGraphInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="monitorGraphInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIKillGraphInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIKillGraphInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="killGraphInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIKillGraphOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIKillGraphOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="killGraphOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIGetJobInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIGetJobInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="getJobInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UISetJobOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UISetJobOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="setJobOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIFailMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIFailMappingPropertyToolkit"
            name="failMapping"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UISuccessMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UISuccessMappingPropertyToolkit"
            name="successMapping"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIListFilesInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIListFilesInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="listFilesInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIListFilesOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIListFilesOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="listFilesStandardOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIListFilesErrorOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIListFilesErrorOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="listFilesErrorOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UICreateFilesInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UICreateFilesInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="createFilesInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UICreateFilesOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UICreateFilesOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="createFilesStandardOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UICreateFilesErrorOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UICreateFilesErrorOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="createFilesErrorOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIDeleteFilesInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIDeleteFilesInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="deleteFilesInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIDeleteFilesOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIDeleteFilesOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="deleteFilesStandardOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIDeleteFilesErrorOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIDeleteFilesErrorOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="deleteFilesErrorOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UICopyFilesInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UICopyFilesInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="copyFilesInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UICopyFilesOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UICopyFilesOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="copyFilesStandardOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UICopyFilesErrorOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UICopyFilesErrorOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="copyFilesErrorOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIMoveFilesInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIMoveFilesInputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="moveFilesInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIMoveFilesOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIMoveFilesOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="moveFilesStandardOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIMoveFilesErrorOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIMoveFilesErrorOutputMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="moveFilesErrorOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIHadoopJobSenderInputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIHadoopJobSenderInputMappingPropertyToolkit"
            name="hadoopJobSenderInputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIHadoopJobSenderOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIHadoopJobSenderOutputMappingPropertyToolkit"
            name="hadoopJobSenderStandardOutputMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIHadoopJobSenderErrorOutputMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIHadoopJobSenderErrorOutputMappingPropertyToolkit"
            name="hadoopJobSenderErrorOutputMapping">
      </editor>
   </extension>
   <extension
         point="com.cloveretl.gui.lookupTable">
      <lookupTable
            class="com.cloveretl.gui.commercial.plugin.AspellLookupTablePlugin"
            id="com.cloveretl.gui.commercial.model.AspellLookupTable"
            name="%AspellLookupTable.name"
            type="aspellLookup">
      </lookupTable>
      <lookupTable
            class="com.cloveretl.gui.commercial.plugin.DBLookupTablePlugin"
            id="com.cloveretl.gui.commercial.model.DBLookupTable"
            name="%DBLookupTable.name"
            type="dbLookup">
      </lookupTable>
      <lookupTable
            class="com.cloveretl.gui.commercial.plugin.PersistentLookupTablePlugin"
            id="com.cloveretl.gui.commercial.model.PersistentLookupTable"
            name="%PersistentLookupTable.name"
            type="persistentLookup">
      </lookupTable>
      <lookupTable
            class="com.cloveretl.gui.commercial.plugin.RangeLookupTablePlugin"
            id="com.cloveretl.gui.commercial.model.RangeLookupTable"
            name="%RangeLookupTable.name"
            type="rangeLookup">
      </lookupTable>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%newWizards.category.name"
            id="com.cloveretl.gui">
      </category>
      <wizard
            name="%DBWizard.name"
            icon="icons/connection-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.dbconnection.DBWizard"
            id="com.cloveretl.gui.wizard.dbConnection.DBWizard">
         <description>
            %DBWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%MetadataByHandWizard.name"
            icon="icons/metadata-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.MetadataByHandWizard"
            id="com.cloveretl.gui.wizard.metadata.MetadataByHandWizard">
         <description>
            %MetadataByHandWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%SequenceWizard.name"
            icon="icons/sequence-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.sequence.SequenceWizard"
            id="com.cloveretl.gui.wizard.sequence.SequenceWizard">
         <description>
            %SequenceWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      
      <wizard
            name="%FlatFileWizard.name"
            icon="icons/metadata-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.flat.FlatFileWizard"
            id="com.cloveretl.gui.wizard.metadata.FlatFileWizard">
         <description>
            %FlatFileWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%DBMetadataWizard.name"
            icon="icons/metadata-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.db.DBMetadataWizard"
            id="com.cloveretl.gui.wizard.metadata.db.DBMetadataWizard">
         <description>
            %DBMetadataWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.xls.XlsMetadataWizard"
            icon="icons/metadata-external-16.png"
            id="com.cloveretl.gui.wizard.metadata.db.XlsMetadataWizard"
            name="%XlsMetadataWizard.name">
         <description>
            %XlsMetadataWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%DbfMetadataWizard.name"
            icon="icons/metadata-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.dbf.DbfMetadataWizard"
            id="com.cloveretl.gui.wizard.metadata.dbf.DbfMetadataWizard">
         <description>
            %DbfMetadataWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%JmsWizard.name"
            icon="icons/jms-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.jms.JmsWizard"
            id="com.cloveretl.gui.jms.JmsWizard">
         <description>
            %JmsWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.lookupTable.LookupTableWizard"
            icon="icons/lookup-external-16.png"
            id="com.cloveretl.gui.wizard.lookupTable.LookupTableWizard"
            name="%LookupTableWizard.name">
         <description>
            %LookupTableWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
   <extension
         point="com.cloveretl.gui.prescribedPortMetadataProvider">
      <prescribedPortMetadataProvider
            id="cloveretl.gui.commercial.ExecuteMapReduceInputPortMetadataProvider"
            class="com.cloveretl.gui.commercial.propertytoolkit.UIHadoopJobSenderInputMappingPropertyToolkit">
      </prescribedPortMetadataProvider>
   </extension>
</plugin>
